.courses{
    background-color: var(--color-bg);
    display: grid;
    align-items: start;
    justify-items: center;
    gap: 2rem;
    max-height: 60vh;
    overflow: auto;
    overflow-x: hidden;
    
    padding: 4rem 2rem 10vh 2rem;
    
    @media screen  and (min-width:1150px) {
        grid-template-columns: repeat(auto-fit,minmax(500px,1fr));    // flex-direction: column;
        
    }

    @media screen and (min-width:400px) {
   
        padding-left: 2rem;
        padding-right: 0rem;
        }

    @media screen and (max-width:400px) {
   
      padding-left: 2rem;
      padding-right: 0.5rem;
      }


}